[commit]
    gpgsign = true
[url "git@github.com:"]
    insteadOf = https://github.com/
[init]
    defaultBranch = main
[alias]
    c = commit
    ds = diff --staged
    a = add
    p = push
[core]
    editor = nvim

[include]
    path = ~/.gitconfig.local
